img {
  border-radius: .5rem;
}

#slide-content + .absolute {
  visibility: hidden;
}

:not(nav) .slidev-icon-btn {
  display: 
}

:not(pre) > code:before, :not(pre) > code:after {
  content: '\00a0';
}